<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- 以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。 -->  
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>浙江大学城市学院论文管理系统</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/main.css">
	<script type="text/javascript" src="../script/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../script/main.js"></script>
	<style type="text/css">
		/*body.shangchuan{
			 text-align:center;
			 font-family: "黑体";
			 font-size: 40px;
			 color: black;
		}*/
		.person{background-size:50px 50px;height:50px;width:400px;
		position:absolute;margin:auto;left:0;right:0;top:300px;bottom:0;
		}
		body{
			position:relative;
		}
	</style>
	
</head>
<body>
	<!--[if lte IE8]>
	<p class="browserupdate">您的浏览器版本太老，请到<a href="http://browsehappy.com">这里</a>更新，以获取最佳的浏览体验。</p>
	<![endif]-->
	<header>
		<div class="logo">
			<img src="../images/logo.png" alt="浙江大学城市学院logo" class="logo-img vertical-center">
			<h1 class="vertical-center">论文管理系统</h1>
		</div>
        <div class="logoff">
            <a href="/logout" id="logout"><img src="../images/out.png" alt="注销登录">注销登录</a>
        </div>
	</header><!-- header结束 -->
	<div class="person">
  	<h1>个人信息</h1>  
      <div>
          <form method="post"  action="/teacher_info_mod">
              <p>
                  <lable for="name"> 姓 名：</lable>
                  <input type="text" name="name" id="name">
              </p>
              <p>
                  <lable for="introduce"> 个人描述：</lable>
                  <textarea name="commet" rows=5 cols=60 id="introduce"></textarea>
              </p>
              <p>
                  <lable for="jobtitle"> 职称：</lable>
                  <input type="text" name="jobtitle"/>
              </p>
              <p>
                  <lable for="email"> 邮 件：</lable>
                  <input type="email" name="email" />
              </p>
              <p>
                  性 别：
                  <input type="radio" name="gender" value="1">男
                  <input type="radio" name="gender" value="0">女
                  <input type="radio" name="gender" checked value="-1">保密</p>
              <p>
                  <input type="submit"value="提交">
                  <input type="reset"value="清空"></p>
          </form>
      </div>
    </div>
</body>
</html>